<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register Page</title>
</head>
<body>
    <div class="register-container">
        <h2>Register</h2>
        <form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm)">
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" name="email" [(ngModel)]="registerData.email" required>
              </div>
          <div class="input-group">
            <label for="password">Password</label>
            <input type="password" name="password" [(ngModel)]="registerData.password" required>
          </div>
          <div class="input-group">
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" [(ngModel)]="registerData.firstName" required>
          </div>
          <div class="input-group">
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" [(ngModel)]="registerData.lastName" required>
          </div>
          <div class="input-group">
            <label for="phone">Phone</label>
            <input type="number" name="phone" [(ngModel)]="registerData.phoneNumber" required>
          </div>
          <div class="input-group">
            <label for="adress">Adress</label>
            <input type="text" name="adress" [(ngModel)]="registerData.adress" required>
          </div>
          <div class="input-group">
            <label for="BirthDate">Birth date</label>
            <input type="date" name="BirthDate" [(ngModel)]="registerData.dateOfBirth" required>
          </div>
          <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="/login">Login here</a></p>
        <p class="error-message">{{infoMessage}}</p>
      </div>
</body>
</html>
