<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to Flavor Hub</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<section class="description">
    <div class="container text-center">
      <h2>Welcome to Flavor Hub</h2>
      <p>A place where deliciousness is served with a smile. Enjoy our delightful cuisine in a cozy ambiance.</p>
      <p>At Flavor Hub, we take pride in offering an exquisite dining experience crafted by our team of passionate chefs and dedicated staff. 
        Nestled in the heart of Brasov, our establishment epitomizes culinary finesse blended with warm hospitality.
      <div class="row photo-grid">
        <div class="col-md-4">
          <img src="assets/Images/dessert1.jpg" alt="Food 1">
        </div>
        <div class="col-md-4">
          <img src="assets/Images/food2.jpg" alt="Food 2">
        </div>
        <div class="col-md-4">
          <img src="assets/Images/food3.jpg" alt="Food 3">
        </div>
      </div>
      <h3>Meet Our Masterful Chefs:</h3>
      <p>Behind every exceptional dish lies the artistry of our esteemed chefs. 
        Each member of our culinary team brings a wealth of experience and creativity to our kitchen. 
        From mastering the delicate balance of flavors to presenting visually stunning plates, 
        our chefs curate a diverse menu that tantalizes the senses and celebrates the finest ingredients.
      </p>
      <div class="row photo-grid">
        <div class="col-md-4">
          <img src="assets/Images/fire.jpg" alt="Food 1">
        </div>
        <div class="col-md-4">
          <img src="assets/Images/pasta.jpg" alt="Food 2">
        </div>
        <div class="col-md-4">
          <img src="assets/Images/dessert2.jpg" alt="Food 3">
        </div>
      </div>
    </div>
  </section>
  
  <footer class="bg-dark text-white text-center py-3 mt-5">
    <p>Flavor Hub &copy; 2023 | Address: 123 Restaurant St, City, Country | Phone: +1 (123) 456-7890</p>
  </footer>

</body>
</html>
  